/*****************/
/* Setup section */
/*****************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: blueviolet;
    --secondary-color: orange;
    --tertiary-color: grey;

    --box-shadow-heavy: 0 4px 8px 0 rgba(0, 0, 0, 0.9),
        0 6px 20px 0 rgba(0, 0, 0, 0.9);
    --box-shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --box-shadow-left-to-right: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent: #e4c619;

    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/**********************/
/* Typography section */
/**********************/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

/****************/
/* Logo section */
/****************/
.logo {
    width: 250px;
    opacity: 0.5;
}

/**********************/
/* Navigation section */
/**********************/
header {
    display: flex;
    padding: 0em 1em 1em 1em;
    border-bottom: 3px solid lightgray;
    box-shadow: var(--box-shadow-light);
}

header,
.logo {
    overflow: hidden;
    position: sticky;
    top: 0em;
    z-index: 99;
    background: white;
    padding-top: 0.5em;
}

.navigation {
    align-items: center;
    display: flex;
    width: fit-content;
    width: 100%;
    justify-content: flex-end;
}

.navigation a {
    margin-left: 1em;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--tertiary-color);
    cursor: pointer;
}

.navigation a:hover {
    border-bottom: 5px solid #e4c619;
}

.item {
    margin-left: 1em;
    font-size: 1.3em;
    text-decoration: none;
    color: var(--tertiary-color);
}

.item:hover,
.active {
    border-bottom: 5px solid #e4c619;
}

.navigation-sub {
    margin-right: 3em;
}

/*******************/
/* General section */
/*******************/

main {
    padding-top: 1em;
}

.intro__img {
    display: block;
    max-width: 100%;
}

/*****************/
/* Intro section */
/*****************/
.intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
    margin-top: 1em;
}

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: 400;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
}

.intro__img {
    box-shadow: var(--box-shadow-left-to-right);
    border-radius: 50%;

    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}

/********************/
/* Services section */
/********************/

.my-services {
    background-color: var(--clr-dark);
    background-image: url(./static/images/services-bg.jpg);
    background-size: cover;
    text-align: center;
    padding-bottom: 5em;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
    font-size: 3.5em;
    padding-top: 1.5em;
    margin-top: 1em;
    margin-bottom: 0em;
    padding-bottom: 0;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
    border-radius: 25px;
}

.services {
    margin-bottom: 2em;
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    color: var(--clr-light);
}

.service + .service {
    margin-left: 2em;
}

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/********************/
/* About Me section */
/********************/

.about-me__img {
    box-shadow: var(--box-shadow-light);

    grid-area: img;
    position: relative;
    z-index: 2;
    border-radius: 50%;

    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
    padding: 3em;
}

.section__title--about {
    grid-area: title;
}

.section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
}

/********************/
/* Project section */
/********************/

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    padding: 4em 1em;
}

.project-image img {
    width: 300px;
    height: 500px;
    box-shadow: var(--box-shadow-left-to-right);
    object-fit: cover;
    object-position: top;
}

.project-intro__img {
    grid-area: img;
    height: 250px;
    min-width: 250px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: var(--box-shadow-left-to-right);
}

.portfolio-item-individual {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}

.portfolio-item-individual img {
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual-left {
    box-shadow: var(--box-shadow-left-to-right);
    padding: 1em;
}
.portfolio-item-individual-right {
    box-shadow: var(--box-shadow-left-to-right);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

/************************/
/* Project card section */
/************************/

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: var(--box-shadow-light);
    margin: 10px;
}

.project-card:hover {
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
}

.card-title {
    padding-top: 1em;
}

.project-image {
    display: inline;
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;

    /* opacity: 0.9; */
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.project-image:hover {
    transform: scale(1.2);
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.subtext {
    margin: 1em;
    height: 4em;
}

.subtext-hr {
    position: fixed;
    bottom: 3em;
    width: 80%;
    /* margin: -1em; */
    padding: 0;
    border: 1px solid grey;
}

.subtext-link {
    position: fixed;
    bottom: -2.5em;
    width: 80%;
    /* margin: -1em; */
    padding: 0;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

.project-button {
    background-color: greenyellow;
    border: 0;
    padding: 0.6em 1em;
    margin-top: 1.6em;
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    transition: 400ms;
}

.project-button:hover {
    transform: scale(1.1);
    background-color: rgb(153, 252, 4);
}

.project-button:focus {
    outline: none;
}

.live-demo-button-container {
    display: flex;
    justify-content: center;
}

.project-button-live {
    border: 3px solid grey;
    padding: 0.2em 0.6em;
    cursor: pointer;
    box-shadow: var(--box-shadow-heavy);
    transition: 400ms;
    border-radius: 25px;
    font-size: 1.4rem;
    display: inline-block;
    font-weight: bold;
    color: rgb(234, 83, 242);
    background: greenyellow;
    color: var(--tertiary-color);
    background-color: var(--clr-accent);
    border-top: 1px solid grey;
}

.project-button-live:hover {
    transform: scale(1.1);
}

.project-button-live:focus {
    outline: none;
}

.tech-text {
    background: var(--clr-accent);
    color: var(--tertiary-color);
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-radius: 25px;
}

.tech-text-reversed {
    color: var(--clr-accent);
    background: var(--tertiary-color);
    font-weight: bold;
    padding: 0.2em 0.7em;
    margin-right: 0.5em;
    font-size: 1.2em;
    box-shadow: var(--box-shadow-left-to-right);
}

/******************/
/* Footer section */
/******************/

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
    font-size: 2em;
}

.social-list__link {
    padding: 0.5em;
}

.footer-bottom-padding {
    padding-bottom: 20em;
}

.footer-by-text {
    font-size: 0.5em;
}

/***********************/
/* Responsive section  */
/* MAX 800px MIN 590px */
/***********************/

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .intro__img {
        min-width: 150px;
        max-height: 150px;
    }

    .section__title--intro {
        font-size: 2em;
    }

    .section__subtitle--intro {
        font-size: 1.2em;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me__img {
        min-width: 100px;
        max-height: 150px;
        border-radius: 0%;
    }

    .section__title--about {
        font-size: 2em;
    }
    .section__subtitle--about {
        font-size: 1em;
        padding-right: 0;
    }

    .portfolio {
        justify-content: center;
    }

    .footer {
        font-size: 1.2em;
    }
}

/***********************/
/* Flip card section  */
/***********************/
.project-card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transition-timing-function: ease-in;
}

.project-container:hover .project-card {
    transform: rotateY(180deg);
    transition-delay: 0.8s;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    /* background-color: var(--clr-accent); */
    background: #fff;
    color: var(--tertiary-color);
    transform: rotateY(180deg);
}

.corner-fold-behind {
    color: #e4c619;
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: 1.5em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.corner-fold-text {
    color: var(--tertiary-color);
    position: absolute;
    right: -2px;
    top: 0px;
    transform: rotate(45deg);
    font-size: 0.8em;
}

.card-back-text {
    text-align: left;
    display: block;
}

/***********************/
/* Responsive section  */
/* MAX 600px           */
/***********************/

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        z-index: 0;
        justify-self: center;
    }

    .navigation {
        margin-left: 2em;
        justify-content: center;
    }
    .navigation-sub {
        display: flex;
        flex-wrap: no-wrap;
        line-height: 1.1;
    }

    .navigation-sub a {
        border-right: 1px solid rgba(128, 128, 128, 0.3);
        text-align: center;
        margin: 0 auto;
        padding: 0.5em;
    }

    .navigation-sub a:last-of-type {
        border-right: 0;
    }

    .services {
        flex-direction: column;
    }

    .service {
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__title--intro {
        font-size: 1.5em;
        text-align: center;
    }

    .section__subtitle--intro {
        font-size: 1em;
        left: 0;
        text-align: center;
        width: fit-content;
    }

    .section__subtitle--about {
        padding-left: 0;
        left: 0;
        text-align: center;
        width: 100vw;
    }

    .portfolio {
        width: fit-content;
        justify-content: center;
    }

    .footer {
        font-size: 1em;
        padding: 0.5em;
    }

    .footer-bottom-padding {
        padding-bottom: 4em;
    }

    .project-button-live {
        transition: 400ms;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        top: 0px;
        left: 0px;
        margin-top: 0.7em;
        margin-bottom: 1em;
        width: max-content;
    }

    .project-button-live:hover {
        transform: scale(1.1);
    }

    .project-button-live:focus {
        outline: none;
    }

    .project-intro__img {
        display: none;
    }

    .section__subtitle--intro {
        width: 100vw;
    }
}

/*************************/
/* Project Page Redesign */
/*************************/

.project-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;
    padding-top: 0;
    margin-top: 0;
}

.left-container {
    padding-top: 0;
    margin-left: 4em;
    margin-top: 0;
    /* font-weight: bold; */
}

.right-container {
    /* font-weight: bold; */
    margin-top: 0;
    margin-right: 4em;
}

.text-vertical {
    background: var(--tertiary-color);
    color: var(--clr-accent);
    padding: 0 1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.tech-item {
    background: var(--clr-accent);
    margin: 0.5em;
    border-radius: 25px;
    padding: 0.2em 0.7em;
    color: var(--tertiary-color);
    font-weight: bold;
    white-space: wrap;
    width: fit-content;
    display: inline-block;
    color: #fff;
    background: rgb(56, 139, 228);
}

/* .tech-item:hover {
    background: green;
    cursor: pointer;
} */
.tech-text-header {
    font-size: 2em;
    width: 95%;
}

.image-test {
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.demo-image-container {
    display: flex;
    justify-content: center;
    height: 50px;
}

.demo-image {
    width: 150px;
    position: relative;
    top: -31px;
    transition: 400ms;
    filter: grayscale(100%);
}

.demo-image:hover {
    filter: grayscale(0%);
    width: 160px;
}
